* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.15;
	font-style: italic;
	font-size: 50px;
}

.container {
	background: url('https://tse4.mm.bing.net/th?id=OIP.nO-xdhmCGqjlqe0IiubOnAHaF7&pid=Api') repeat;
	width: 100vw;
	height: 100vh;
	padding: 30px 10px;
	border: 2px solid red;
}

input {
	display: block;
	padding: 10px;
	width: 50%;
	background: rgba(255, 255, 255, 0);
	border: none;
	border-bottom: 3px solid blue;
	text-align: center;
}

input:focus {
	outline: none;
}

.in-1, .in-2 {
	position: relative;
}

.in-1 label, .in-2 label {
	font-weight: bold;
	font-size: 60px;
}

.in-1 label {
	position: absolute;
	top: 10vh;
	left: 5vw;
}

.in-1 input {
	position: absolute;
	top: 10vh;
	right: 5vw;
}

.in-2 label {
	position: absolute;
	top: 20vh;
	left: 5vw;
}

.in-2 input {
	position: absolute;
	top: 20vh;
	right: 5vw;
}

#button {
	position: absolute;
	top: 35vh;
	margin-left: 20vw;
	border-radius: 10px;
	border-top: 3px solid blue;
	background: rgba(0, 0, 200, 0.2);
	font-weight: bold;
	font-size: 40px;
	width: 60vw;
}

#button:hover {
	background: rgba(0, 0, 250, 0.3);
}

.outputs {
	position: absolute;
	top: 45vh;
	width: 80vw;
	left: 10vw;
}

.outputs p {
	font-size: 50px;
}

.outputs span {
	position: absolute;
	border-bottom: 3px solid blue;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 80px;
	width: 20vw;
	top: 20vh;
	left: 30vw;
}